<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://www.imdb.com/" target='_blank'><span class="glyphicon"><img src="https://images-na.ssl-images-amazon.com/images/G/01/imdb/images/favicon-2165806970._CB499613556_.ico" alt="IMDb icon"/></span> IMDb API Used</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://3dplumbingcompany.com/OldSite/cit261/Sandbox/codeExamples.html" target='_blank'></span> CIT 261 Code Topics</a>
      </li>
    </ul>
  </div>
</nav>
