h1{
	color: #191919;
	font-size: 40px;
	font-weight: 100;
}

#sectionChangingColor h1, #blueSection h1{
	color: #1919E8;
	max-width: 760px;
	margin: auto;
}

#sectionChangingColor{
	text-align: center;
	background-color: #ff9333;
    padding-bottom: 30px; 
}

#colorButton{
	margin-top: 20px;
	cursor: pointer;
}


#clrName{
	margin-top: 20px;
}

.page-content-container{
	max-width: 1060px;
	margin: auto;
}

.resizeImageButton{
	margin-top: 20px;
	cursor: pointer;
}

#resizeImage img {
    width: 50%;
    margin: 100px auto 35px auto;
    display: block;
}

#buttonPosition{
	width: 408px;
    margin: auto;
}


