<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
      <main class="animation">
        <img src="assets/images/cinemaSign.jpg" alt="cinema">
        <h1><span id="animationB">Find a Movie</span>: S<span>earch by Title</span><span id="animationA">!</span></h1>
      </main>
  <p>Can't think of the right movie but you have part of the title? Do you want to see the top 10 results for your search word? Type a part or all of the title to see what IMDb best matches your search with!</p>
  <div class="searchDiv">
    <input type="text" id="title">
    <button onclick="findMovie();">Find Movie</button>
  </div>
  <div id="resultSection">
    <h2>Search Results of Relevant Movies</h2>
    <div id="dataResults">
      <p class="title">[ This section will be updated when a search is made... ]</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>How to use the app</h3>
      <ul>
        <li>Use the typing field to enter part or all of a movie title.</li>
        <li>Up to ten movie titles from IMDb that best match your search word(s) will display in the <b>Search Results of Relevant Movies</b> section.</li>
        <li>The displayed movie posters are interactive - demonstrating hover, transition, and transform CSS effects</li>
        <ul>
          <li>Hover over the poster to trigger the appearance of the title information</li>
          <li>Click on the movie poster or image text to lookup the selected movie on IMDb's site.</li>
        </ul>  
      </ul>
    </div>

    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this Node app works</h3>
      <ul>
        <li>This app was deployed to Heroku by using Git on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the Node package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    This Heroku Node app and single page application is the creation of Christopher David for the purpose of the<br/> CIT 261 Final CSS: Transitions, Transform, and Animation Project
  </div>
</div>
</body>
</html>
